.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    max-width: 450px;
    padding: 20px;
    text-align: center;
}

.estate-image {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content {
    text-align: left;
}

.content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    margin-bottom: 10px;
}

.content a.btn-primary {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 4px 20px;
    width: 118px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
    text-decoration: none;
}

.content a.btn-primary span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.content a.btn-primary span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.content a.btn-primary:hover span {
    padding-right: 25px;
}

.content a.btn-primary:hover span:after {
    opacity: 1;
    right: 0;
}

.lgout {
    margin-top: 2px;
    text-align: right;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
    padding: 4px 20px;
    width: 147px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

hr {
    border: none;
    height: 2px;
    background-color: #282524;
    margin: 20px 0;
}