.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.registration-form h1 {
    margin-top: 0;
    font-size: 28px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #555;
}

select,
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

select:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
}

button {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.login {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.login a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.login a:hover {
    color: #0056b3;
}

.password-input-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle i {
    font-size: 18px;
    color: #555;
}